@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	
	
}

/*TASKS*/
#tasks-printing {
    display: flex;
    flex-direction: row;
    /* background-color: blanchedalmond; */
}

#tasks-content{
background-color: rgb(159, 212, 102);
margin-top: 1em;


}

.task-card {
    border: 1px black solid;
    margin: 2em;
    background-color: rgb(251, 252, 238);
    border-radius: 1em;
    padding: .5em
}

.task-form-button {
 
}

#tasks-form{
  padding-left: 2em;
}

.task-image {
  height: 20vh
}