body {
  background-color: azure;
}

/* Header Component */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: #fff;
}

.auth {
  display: flex;
  justify-content: space-evenly;
  min-width: 30vw;
}

/* Footer Component */
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}